<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhaojun.mapper.BlogMapper">


    <select id="blogPage" resultType="com.wuzhaojun.entity.BlogEntity">
        select *
        from blog
        where blog_Share = #{blogShare}
        limit #{pageSize},#{size}
    </select>
    <select id="blogCollectionShare" resultType="com.wuzhaojun.entity.BlogEntity">
        select *
        from blog
        where blog_Share = #{blogShare}
    </select>

    <!--对收藏进行分页查询-->
    <select id="blogPageCollection" resultType="com.wuzhaojun.vo.BlogCollectionVO">
        select DISTINCT bc.blog_collection_and_user  as blogCollectionAndUser,
                        bc.blog_collection_code      as blogCollectionCode,
                        bc.blog_collection_code_text as blogCollectionCodeText,
                        bc.blog_collection_user      as blogCollectionUser
        from blog b
                 join blog_collection bc on
                bc.blog_collection_user = b.blog_user
                and bc.blog_collection_code = "1"
                and b.blog_user = #{userName}
                and bc.blog_collection_user = #{userName}
        where blog_Share = #{blogShare}
        limit #{pageSize},#{size}

    </select>

    <select id="blogCollection" resultType="com.wuzhaojun.vo.BlogCollectionVO">
        select DISTINCT bc.blog_collection_and_user  as blogCollectionAndUser,
                        bc.blog_collection_code      as blogCollectionCode,
                        bc.blog_collection_code_text as blogCollectionCodeText,
                        bc.blog_collection_user      as blogCollectionUser
        from blog b
                 join blog_collection bc on
                bc.blog_collection_user = b.blog_user
                and bc.blog_collection_code = "1"
                and b.blog_user = #{userName}
                and bc.blog_collection_user = #{userName}
        where blog_Share = #{blogShare}

    </select>

    <select id="blogUserPage" resultType="com.wuzhaojun.entity.BlogEntity">
        select *
        from blog
        where blog_user = #{blogUser}
        limit #{pageSize},5
    </select>

    <select id="findAllBlogCollection" resultType="com.wuzhaojun.entity.BlogEntity">
        select *
        from blog
        where blog_user_id = #{blogUserId}
          and blog_code = "1"
        limit #{pageSize},5
    </select>
</mapper>
